<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>142111941313-h7teeshc9d5a0ai0g683dffh0isrs76s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.142111941313-h7teeshc9d5a0ai0g683dffh0isrs76s</string>
	<key>API_KEY</key>
	<string>AIzaSyAodT8FNZoF_b8pXNYwodv9vhcS4lYEw_E</string>
	<key>GCM_SENDER_ID</key>
	<string>142111941313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.walletapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>runnerapp-5ca00</string>
	<key>STORAGE_BUCKET</key>
	<string>runnerapp-5ca00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142111941313:ios:07d7fb1061538cf686ea40</string>
</dict>
</plist>